<div class="title left w300px"><%= @page_title = "Groups" %></div>
<div class="right w150px" style="margin-top: 30px; text-align: right;"><%= link_to "New Group", new_group_path%></div>
<div class="clear"></div>

<div class="list">
  <div class="header">
    <div class="left w300px">Name</div>
    <div class="clear"></div>
  </div>

<% @groups.each do |group| %>
  <div class="item" onmouseover="App.rollOver(this);" onmouseout="App.rollOut(this);">
    <div class="content">
      <div class="left w300px"><%= group.name %></div>
    </div>
    <div class="buttons">
      <% if group.user_id == current_user.id %>
        <%= link_to image_tag("icons/edit.png"), edit_group_path(group), :title => "Edit" %>
        &nbsp;
        <%= link_to image_tag("icons/delete.png"), group, :confirm => 'Are you sure?', :method => :delete, :title => "Delete" %>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
  <% end %>
</div>