<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :img_url, :value => @contact.img_url %>
  <div class="contact photo">
    <div class="photo_edit">
        <a href="javascript:void(0)" class="edit" title="Edit"><i></i><span>Change</span></a>
        <div class="photo_options">
            <ul>
                <li><a href="<%= url_for :controller => contacts_path, :action => "img_url", :format => :json %>" class="from_twitter">From Twitter</a></li>
                <li><a href="<%= url_for :controller => contacts_path, :action => "img_url", :format => :json %>" class="from_gravatar">From Gravatar</a></li>
                <li><a href="<%= image_path "silhouette.gif" %>" class="remove">Remove</a></li>
            </ul>
        </div>
    </div>
    <div class="img_photo">
        <%=
        if @contact.img_url.to_s.empty?
            image_tag "silhouette.gif", :width => 100
        else
            image_tag @contact.img_url, :width => 100
        end
        %>
    </div>
  </div>
  <div class="contact name_email">
    <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, :class => 'wFull' %>
    </div>
    <div class="contact email">
        <div class="field">
            <%= f.label :email, "E-mail" %><br />
            <%= f.email_field :email, :class => 'wFull' %>
        </div>
    </div>
    <div class="w200px left">
        <div class="field">
            <%= f.label :twitter %><br />
            <%= f.text_field :twitter, {:class => "w200px", :placeholder => "@TwitterName"}  %>
        </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="w200px left mr5px">
      <div class="field">
        <%= f.label :phone %><br />
        <%= f.text_field :phone, {:class => "w200px"}  %>
      </div>
  </div>
  <div class="w200px left mr5px">
      <div class="field">
        <%= f.label :cell, "Cell Phone" %><br />
        <%= f.text_field :cell, {:class => "w200px"}  %>
      </div>
   </div>
   <div class="w200px left mr5px">
      <div class="field">
        <%= f.label :birthday %><br />
        <%=  f.date_select :birthday, {:order => [:day, :month]} %>
      </div>
   </div>
   <div class="w360px left">
      <div class="field">
        <%= f.label :group_id %><br />
        <%= f.collection_select :group_id, Group.my_groups(current_user), :id, :name, {}, {:class => "w360px"}%>
      </div>
  </div>
  <div class="clear"></div>
  <div class="field">
    <%= f.label :obs %><br />
    <%= f.text_area :obs %>
  </div>
  <div class="actions">
    <%= submit_tag "Cancel", :type => 'button', :onclick => "location.href='#{contacts_path}'" %>
    <%= f.submit %>
  </div>
<% end %>