
<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
	<div id="error_explanation">
	  <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

	  <ul>
	  <% @contact.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	  <% end %>
	  </ul>
	</div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="contact photo">
	<%= image_tag "silhouette.gif" %>
  </div>
  <div class="contact name_email">
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>

	<div class="contact email">
		<div class="field">
			<%= f.label :email %><br />
			<%= f.email_field :email %>
		</div>
	</div>
	<div class="w200px left">
		<div class="field">
			<%= f.label :twitter %><br />
			<%= f.text_field :twitter, {:class => "w200px", :placeholder => "@TwitterName"}  %>
		</div>
	</div>
	
	
	
		

	

  </div>
  <div class="clear"></div>





  <div class="w200px left mr5px">
	  <div class="field">
		<%= f.label :phone %><br />
		<%= f.text_field :phone, {:class => "w200px"}  %>
	  </div>
  </div>
  <div class="w200px left mr5px">
	  <div class="field">
		<%= f.label :cell, "Cell Phone" %><br />
		<%= f.text_field :cell, {:class => "w200px"}  %>
	  </div>
   </div>
   <div class="w200px left mr5px">
	  <div class="field">
		<%= f.label :birthday %><br />
		<%=  f.text_field :birthday, {:class => "w200px"} %>
	  </div>
   </div>
   <div class="w360px left">
	  <div class="field">
		<%= f.label :group_id %><br />
		<%= f.collection_select :group_id, Group.my_groups(current_user), :id, :name, {}, {:class => "w360px"}%>
	  </div>
  </div>
  <div class="clear"></div>
  <div class="field">
	<%= f.label :obs %><br />
	<%= f.text_area :obs %>
  </div>

  <div class="actions">
	<%= submit_tag "Cancel", :type => 'button', :onclick => "location.href='#{contacts_path}'" %>
	<%= f.submit %>
  </div>
<% end %>
