<div class="title"><%= @page_title = "My Contacts" %></div>

<div class="btnNew"><%= link_to "New Contact", new_contact_path%></div>

<div class="filter">
    <div class="letters">
        <ul>
            <li style="margin: 0 "><a href="<%= url_for contacts_path %>?favorite=1"><div class="favoriteFilter"></div></a></li>
            <% letters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
                letters.each_char do |c|
            %>
                <li><a href="<%= url_for contacts_path %>?filterLetter=<%=c%>" title="contacts starting with letter <%=c%>"><%=c%></a></li>
            <% 
            end
            %>
            <li><a href="<%= url_for contacts_path %>?filterNumber=1" title="contacts starting with numbers">0/9</a></li>
            <li><a href="<%= url_for contacts_path %>">Clear Filter</a></li>
        </ul>
    </div>
    <div class="advanced">
        <form action"" method="GET">
            <input type="text" name="q" value="<%= request.GET['q'] %>" />
            <input type="submit" value="Ok" style="width: 50px;" />
        </form>
    </div>
    <div class="clear"></div>
</div>

<% if @contacts.length > 0 %>
    <div id="contacts">
        <div id="list" class="list">
            <% @contacts.each do |contact| %>
                <div class="item" onmouseover="App.roll_over(this);" onmouseout="App.roll_out(this);" data-contact="<%= contact.id %>" href-contact="<%= contact_path contact %>">
                    <div class="photo">
                        <%=
                        if contact.img_url.to_s.empty?
                            image_tag "silhouette.gif", :width => 48
                        else
                            image_tag contact.img_url, :width => 48
                        end
                        %>
                    </div>
                    <div class="content">
                        <div class="details">
                            <div class="text">
                                <span class="name"><%= contact.name %></span>
                                <span class="group"><%= (contact.group) ? contact.group.name : nbsp %></span>
                                <div>
                                    Phone: <%= contact.phone %>
                                    &nbsp;&nbsp;
                                    E-mail: <%= (contact.email.to_s.empty?) ? "--" : (link_to contact.email, "mailto:#{contact.email}", :data => "no_ajax") %>
                                    &nbsp;&nbsp;
                                    <%= link_to contact.twitter, "http://twitter.com/#{contact.twitter[1..contact.twitter.length]}", :data => "no_ajax" if contact.twitter %>
                                </div>
                            </div>
                            <div class="more showOver">
                                <span></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="actions">
                            <div class="left w100px">
                                <%= link_to raw("<i></i><span>#{(!contact.favorite) ? 'Favorite' : 'Unfavorite'}</span>"), {:controller => contacts_path, :action => "favorite", :id => contact.id}, :title => "Favorite", :class => "favorite #{'favorited' if contact.favorite}", :data => "no_ajax", "data-favorite" => (contact.favorite) ? true : false %>
                            </div>
                            <div class="right w200px textRight showOver hidden">
                                <%= link_to raw("<i></i><span>Edit</span>"), edit_contact_path(contact), :title => "Edit", :class => "edit", :data => "no_ajax" %>
                                &nbsp;
                                <%= link_to raw("<i></i><span>Delete</span>"), contact, :confirm => 'Are you sure?', :method => :delete, :title => "Delete", :class => "delete", :data => "no_ajax" %>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            <% end %>
        </div>
        <div id="details">
            <div class="content">
                <p>Click a contact for details.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
<% else %>
    <div class="center"><h1>No Contacts</h1></div>
<% end %>