<div class="contact photo">
    <div class="img_photo">
        <%=
        if @contact.img_url.to_s.empty?
            image_tag "silhouette.gif", :width => 100
        else
            image_tag @contact.img_url, :width => 100
        end
        %>
    </div>
</div>
<h1 style="margin-top: 0;">
    <%
    if @contact.favorite
    %>
        <span class="favorite"></span>
    <% 
    end
    %>
    <%= @contact.name %>
</h1>
<h3><%= (@contact.email.to_s.empty?) ? "--" : (link_to @contact.email, "mailto:#{@contact.email}", :data => "no_ajax") %></h3>
<p>
    <b>Phone:</b>
    <%= @contact.phone %>
    &nbsp;
    <b>Celll Phone:</b>
    <%= @contact.cell %>
</p>
<p>
    <b>Twitter:</b>
    <%= link_to @contact.twitter, "http://twitter.com/#{@contact.twitter[1..@contact.twitter.length]}", :data => "no_ajax" if @contact.twitter %>
</p>
<br />
<p>
    <b>Group:</b>
    <%= (@contact.group) ? @contact.group.name : nbsp %>
</p>
<p>
    <b>Birthday:</b>
    <%= @contact.birthday.strftime "%d %B" unless @contact.birthday.nil? %>
</p>
<% unless @contact.im.to_s.empty? %>
    <p>
        <b><%= @contact.im_type %>:</b>
        <%= @contact.im %>
    </p>
<% end %>
<p>
    <b>Street:</b>
    <%= @contact.street %>
</p>
<p>
    <b>City:</b>
    <%= @contact.city %>
</p>
<p>
    <b>Zip Code:</b>
    <%= @contact.zip_code %>
</p>
<p>
    <b>Country:</b>
    <%= @contact.country %>
</p>
<p>
    <b>Obs:</b>
    <%= @contact.obs.to_s.gsub(/\n/, '<br />').html_safe %>
</p>
<p>
    <b>Created at:</b>
    <%= @contact.created_at.strftime "%d/%m/%Y %H:%M:%S" %>
</p>

<div class="actions">
    <%= link_to raw("<i></i><span>Edit</span>"), edit_contact_path(@contact), :title => "Edit", :class => "edit", :data => "no_ajax" %>
    &nbsp;
    <%= link_to raw("<i></i><span>Delete</span>"), @contact, :confirm => 'Are you sure?', :method => :delete, :title => "Delete", :class => "delete", :data => "no_ajax" %>
</div>