<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= "#{@page_title} - " if @page_title %>Agenda</title>
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>
<body>
	<div id="logo"><%= link_to image_tag("logo.png"), "/" %><h1>Phone Book</h1></div>	
	<header id="menu">
		<div class="left" style="width:400px">
			<ul>
				<li>
					<%= link_to "Home", '/' %>
				</li>
				<li>
					<%= link_to "My Contacts", '/contacts' %>
				</li>
				<li>
					<%= link_to "Groups", '/groups' %>
				</li>
			</ul>
		</div>
		<div class="right" style="width:350px;">
			<ul class="right">
				<% if user_signed_in? %>
					<li><a style="cursor:default;"><%= current_user.name %></a>
						<ul class="first">
							<li class="userDetails">
								<b><%= current_user.name %></b>
								<br />
								<%= current_user.email %>
								<br /><br />
								<b>Last sign in at</b> 
								<br />
								<%= current_user.last_sign_in_at %>
							</li>
							<li>
								<%= link_to "Profile settings", edit_user_registration_path(current_user) %>
							</li>
						</ul>
					</li>
				<% else %>
					<li style="margin-right:0px;">
						<%= link_to("Sign In", new_user_session_path) %>
					</li>
				<% end %>

				<li style="margin-right:0px;">
					<%= link_to("Sign Out", destroy_user_session_path, :method => :delete) if user_signed_in? %>
					<%= link_to("Sign up", new_user_registration_path) unless user_signed_in? %>
				</li>
				
			</ul>
		</div>
	</header>

	<% if notice %>
		<div class="boxNotice">
			<div id="notice"><%= notice %></div>
			<script type="text/javascript">
				$(document).ready(function(){
					setTimeout("$('#notice').slideUp('fast')", 5000);
				});
			</script>
		</div>
	<% end %>
	<div class="clear"></div>

	<section class="content">
		<div id="content">
			<%= yield %>
		</div>
	</section>
	<footer>
		<p style="padding-top: 5px; text-align: center; color: #333">
			<%= Time.now.year %> Copyright &copy; Phone Book with Ruby on Rails
			<br />
			Powered by <%= link_to "Josemar Davi Luedke", "http://josemarluedke.com" %>
		</p>
	</footer>
</body>
</html>